@use '../util/breakpoints.scss' as *;
@use '../util/functions.scss' as *;



.p-all {
        padding-right: rem(40);
        padding-left: rem(40);
}

.container {
    padding-right: rem(25);
    padding-left: rem(25);
}

.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_container {
    @include breakpoint-up(medium) {
        padding: rem(30);
    }
}