@use '../util/breakpoints.scss' as *;
@use '../util/functions.scss' as *;
@use '../util/mixins.scss' as *;


.hero {
    position: relative;
    text-align: center;
    white-space: normal;
    @include breakpoint-down(small) {
        padding: rem(27);
    }
    white-space: normal;

    &__text {
        @include breakpoint-up(large) {
            font-size: rem(60);
            padding-right: rem(25);
        }
        font-weight: 800;
        font-size: rem(33);
        @include textDecoration;
    }

    &__btn {
        position: relative;
        @include reset;
        @include btnPadding;
        border: 1px solid var(--blue);
        border-radius: rem(20);
        align-items: center;
        background-color: transparent;
        color: var(--blue);
        font-size: rem(14);
        @include transition;


        img {
            width: rem(13.25);
            transform: translateY(1.2px);
            margin-right: rem(5);
        }
    }

    &__searchBox {
        @include boxShadow;
        border-radius: rem(8);
        padding: rem(12);
        width: fit-content;
        white-space: nowrap;
        text-align: center;
        display: flex;
        align-items: center;
        margin: rem(30) 0;
        @include breakpoint-up(large) {
         transform: translateY(70px);
        }
       
        justify-content: center;

        &--item {
            cursor: pointer;
            margin-right: rem(10);
            display: flex;
            align-items: center;
        }

        &--btn {
            @include reset;
            @include transition;
            margin-right: rem(3);
            display: inline-block;
            color: var(--white);
            padding: rem(12) rem(25);
            background-color: var(--blue);
            border-radius: rem(20);

            &:hover {
                background-color: var(--darkBlue);
            }
        }
    }
}

.img-container img {
    position: absolute;

    &:nth-child(1) {
        left: rem(220);
        top: rem(250);
    }
        &:nth-child(2) {
        right: rem(280);
        top: rem(360);
    }
    &:nth-child(3) {
        left: rem(110) ;
        top: rem(329);
    }
    &:nth-child(4) {
        left: rem(140);
        top: rem(200);
    }
    &:nth-child(5) {
        right: rem(180);
        top: rem(230);
    }
    &:nth-child(6) {
        right: rem(150);
        top: rem(353);
    }
    &:nth-child(7) {
        right: rem(90);
        top: rem(35);
    }
}